/* * {
    border: 1px solid red; 
} */

@import url(//db.onlinewebfonts.com/c/f1a22f6f15d272c7aa56da8b2c91f5e5?family=Circular+Std+Black);
@import url(//db.onlinewebfonts.com/c/2090551770be22b09600a40b0b4673b7?family=Avenir+Medium);

* {
    box-sizing: border-box;
}

.progressBarContainer {
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.progressBar {
    width: 80%;
    margin: 2.5vh 10%;
}

.pageContainer {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    /* margin-top: 8vh;
    margin-bottom: 8vh; */
}

.navContainer {
    position: fixed;
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    background-color: #ffffff;
    z-index: 1;
}

.navBar {
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.5);
}

.logo {
    width: 160px;
    margin-left: 10px;
}

.navBarList {
    list-style-type: none;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navItem a {
    font-weight: 500;
    color: #c01089;
}

.navItem a:hover {
    color: #ecb7db;
    text-decoration: none;
    padding-bottom: 18px;
    border-bottom: 2.5px solid #ecb7db;
}

.navItemActive a {
    padding-bottom: 18px;
    border-bottom: 2.5px solid #c01089;
}

.navIcon {
    display: none;
}

/* .logOutButton {
    width: 120px;
    padding: 5px 0;
    margin: 0 20px;
    border-radius: 10px;
    background-color: #ecb7db;
    border: 0;
    color: #ffffff;
} */

/* .logOutButton:hover {
    background-color: #ffffff;
    border: 1px solid #ecb7db;
    color: #ecb7db;
} */

.contentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vh;
    margin-bottom: 8vh;
}

.spendingChart {
    display: flex;
    justify-content: center;
    width: 100%;
}

.headerText{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headerText .tooltipHeader {
    margin-left: .5vw;
}

.spinner-div {
    height: 100vh;
    width: 100%;
    text-align: center;
    margin-top: 45vh;
}

.budgetComparison {
    width: 100%;
    /* margin: auto; */
    /* padding: 10px 0; */
    overflow: auto;
}

h1, h2, h3 {
    text-align: center;
}

h6 {
    margin-bottom: -5px;
}

.pageHeader {
    margin-top: 2.5vh;
}

.individualBar {
    margin-bottom: 15px;
    width: 90%;
}

.progressHeader {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.progressP {
    line-height: 1.25rem;
    margin-bottom: 0;
}

.progressButton {
    margin: 10px 0,
}

@media (max-width: 1000px) {
    .navItem a {
        font-size: .75rem;
        font-weight: 600;
    }
}

@media (max-width: 800px) {
    .navBar {
        box-shadow: none;
        border-top: 2px solid #ecb7db;
    }

    .navBarList {
        width: 100%;
        margin-right: 30px;
        justify-content: space-evenly;
    }

    .navItem a {
        font-size: 0px;
    }

    .navIcon {
        display: inline;

    }

    .navIcon a span {
        color: #ecb7db;
    }

    .navItemActive a {
        border-bottom: 0;
        border-top: 2px solid #c01089;
        padding-top: 17px;
    }

    .navItemActive a span {
        color: #c01089;
    }

    .logo {
        display: none;
    }

    .progressBarContainer {
        position: fixed;
        top: 0;
        box-shadow: 0px 0px 7px rgba(236, 183, 219, 1); 
        border-bottom: 2px solid #ecb7db;
    }

    .navContainer {
        position: fixed;
        bottom: 0;
    }

    .pageContainer {
        flex-direction: column-reverse;
    }
}


@media (min-width: 801px) {
    .navContainer {
        top: 0;
    }
}

@media (max-width: 600px) {

    p {
        font-size: .75rem;
    }
}

@media (max-width: 450px) {
    .progressHeader {
        flex-direction: column;
    }

    .progressButton {
        font-size: .75rem;
        margin: 0;
    }

    p {
        font-size: .5rem
    }

    h6 {
        font-size: .75rem
    }    
}