/* * {
    border: 1px solid red; 
} */

@import url(//db.onlinewebfonts.com/c/f1a22f6f15d272c7aa56da8b2c91f5e5?family=Circular+Std+Black);
@import url(//db.onlinewebfonts.com/c/2090551770be22b09600a40b0b4673b7?family=Avenir+Medium);

.progressBarContainer {
    width: 100%;
    height: 8vh;
    background-color: #ecb7db;
    align-items: center;
}

.progressBar {
    width: 80%;
    margin: 2.5vh 10%;
}

.pageContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navContainer {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    background-color: #ecb7db;
}

.navBar {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: #ecb7db
}

.dropdown {
    font-weight: 700;
}

.navItem {
    height: 8vh;
    font-size: 1rem;
    font-family: "Avenir Medium";
    text-align: center;
}

.contentContainer {
    width: 80%;
    height: 84vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.mainContent {
    width: 100%;
    height: 100vh;
    margin: auto;
}

.spinner-div {
    height: 100vh;
    width: 100%;
    text-align: center;
    margin-top: 45vh;
}

.chartContainer {
    width: 100%;
    height: 80%;
    background-color: blue;
}

h1, h2, h3 {
    font-family: "Circular Std Black";
    color: #333333;
    text-align: center;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

@media (max-width: 800px) {
    .navItem .test {
        font-size: 0px;
    }

    .pageContainer {
        flex-direction: column-reverse;
    }
}