/* * {
    border: 1px solid red; 
} */

@import url(//db.onlinewebfonts.com/c/f1a22f6f15d272c7aa56da8b2c91f5e5?family=Circular+Std+Black);
@import url(//db.onlinewebfonts.com/c/2090551770be22b09600a40b0b4673b7?family=Avenir+Medium);

* {
    box-sizing: border-box;
}

.progressBarContainer {
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 8vh;
    background-color: #ecb7db;
    align-items: center;
}

.progressBar {
    width: 80%;
    margin: 2.5vh 10%;
}

.pageContainer {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    /* margin-top: 8vh;
    margin-bottom: 8vh; */
}

.navContainer {
    position: fixed;
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    background-color: #ecb7db;
}

.navBar {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: #ecb7db
}

.dropdown {
    font-weight: 700;
}

.navItem {
    height: 8vh;
    font-size: 1rem;
    text-align: center;
}

.contentContainer {
    width: 90%;
    height: 84vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 8vh;
    margin-bottom: 8vh;
    z-index: -1;
}

.spinner-div {
    height: 100vh;
    width: 100%;
    text-align: center;
    margin-top: 45vh;
}

.budgetComparison {
    width: 100%;
    /* margin: auto; */
    /* padding: 10px 0; */
    overflow: auto;
}

h1, h2, h3 {
    text-align: center;
}

h6 {
    margin-bottom: -5px;
}

.pageHeader {
    margin-top: 2.5vh;
}

.individualBar {
    margin-bottom: 15px;
    width: 90%;
}

.progressHeader {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 1vh;
}

.progressP {
    line-height: 1.25rem;
    margin-bottom: 0;
}

.progressButton {
    margin: '10px 0';
}

/* Past Spending Page */
.spending_chart {
    box-sizing: border-box;
    text-align: center;
    margin: 2.5vh auto;
}

@media (min-width: 1000px) {
    p {
        font-size: 1.5rem;
    }

    h6 {
        font-size: 2rem;
    }

    .progress {
        height: 2rem;
    }

    .progressButton {
        font-size: 1.25rem;
    }
}

@media (max-width: 800px) {
    .navItem .test {
        font-size: 0px;
    }

    .progressBarContainer {
        position: fixed;
        top: 0;
    }

    .navContainer {
        position: fixed;
        bottom: 0;
    }

    .pageContainer {
        flex-direction: column-reverse;
    }
}


@media (min-width: 801px) {
    .navContainer {
        top: 0;
    }
}

@media (max-width: 600px) {

    p {
        font-size: .75rem;
    }
}

@media (max-width: 450px) {
    .progressHeader {
        flex-direction: column;
    }

    .progressButton {
        font-size: .75rem;
        margin: 0;
    }

    p {
        font-size: .5rem
    }

    h6 {
        font-size: .75rem
    }    
}