/* * {
    border: 1px solid red; 
} */

.pageContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
}

.navContainer {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    background-color: #ecb7db
}

.navBar {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    background-color: #ecb7db
}

.navItem {
    height: 8vh;
    font-size: 1rem;
    text-align: center;
}

.mainButton {
    width: 20%;
    height: 8vh;
    background-color: #c01089;
    font-size: 1rem;
    border-radius: 5px;
}

.contentContainer {
    width: 80%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.progressDiv {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2.5vh;
}

.mainContent {
    width: 100%;
    height: 80vh;
    margin: auto;
}

.spinner-div {
    height: 100vh;
    width: 100%;
    text-align: center;
    margin-top: 45vh;
}

.chartContainer {
    width: 100%;
    height: 70vh;
    background-color: blue;
}

h1, h2, h3 {
    text-align: center;
}